In [ ]:
#!pip install ipython-sql

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///contatos.db

In [3]:
%%sql

CREATE TABLE CLIENTES (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///contatos.db
Done.

[]

In [35]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///contatos.db
4 rows affected.

[]

In [6]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES ('Leonardo' , 'leo@gmail.com', '1999-9999' )

 * sqlite:///contatos.db
1 rows affected.

[]

In [7]:
%%sql

SELECT * FROM CLIENTES;

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Leonardo', 'leo@gmail.com', '1999-9999')]

In [15]:
%%sql

SELECT * FROM CLIENTES WHERE NOME = 'Leonardo';

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (5, 'Leonardo', 'leo@gmail.com', '1999-9999')]

In [14]:
%%sql

SELECT DISTINCT NOME FROM CLIENTES

 * sqlite:///contatos.db
Done.

[('Leonardo',), ('Rafael',), ('Michelangelo',), ('Donatello',)]

In [17]:
%%sql 

SELECT * from clientes where nome = 'Leonardo' and email = 'leo@gmail.com'

 * sqlite:///contatos.db
Done.

[(5, 'Leonardo', 'leo@gmail.com', '1999-9999')]

In [19]:
%%sql

select * from clientes ORDER BY NOME DESC

 * sqlite:///contatos.db
Done.

[(2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (5, 'Leonardo', 'leo@gmail.com', '1999-9999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [22]:
%%sql

select count(*) from clientes
select sum(TELEFONE) from clientes
select avg(TELEFONE) from clientes

 * sqlite:///contatos.db
(sqlite3.OperationalError) near "select": syntax error
[SQL: select count(*) from clientes
select sum(TELEFONE) from clientes
select avg(TELEFONE) from clientes]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [37]:
%%sql

ALTER TABLE CLIENTES add DURATION;

 * sqlite:///contatos.db
Done.

[]

In [25]:
%%sql

delete from clientes

 * sqlite:///contatos.db
5 rows affected.

[]